<!DOCTYPE html>
<html lang="en" ng-app="freecycleApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Freecycle</title>
    <base href="/">
    <link rel='stylesheet' href='/css/libs.css' />
    <link rel='stylesheet' href='/css/compiled.css' />
  </head>
  <body class="wrapper">

    <ng-view></ng-view>

    <script type='text/javascript' src='/js/libs.js'></script>
    <script type='text/javascript' src='/js/compiled.js'></script>
    <script>
      host = window.location.hostname
      if(host == 'localhost') {
        document.write("<script src='http://" + host + ":35729/livereload.js'><\/script>")
      }
    </script>
  </body>
</html>
